[submodule "CrocoDash/rm6"]
	path = CrocoDash/rm6
	url = https://github.com/CROCODILE-CESM/regional-mom6/
[submodule "CrocoDash/visualCaseGen"]
	path = CrocoDash/visualCaseGen
	url = https://github.com/ESMCI/visualCaseGen.git
[submodule "demos"]
	path = demos
	url = https://github.com/CROCODILE-CESM/CrocoGallery
[submodule "CrocoDash/diag_manager"]
	path = CrocoDash/diag_manager
	url = https://github.com/CROCODILE-CESM/mom6_diagnostics_manager
[submodule "CrocoDash/CrocoDash/diag_manager"]
	path = CrocoDash/CrocoDash/diag_manager
	url = https://github.com/CROCODILE-CESM/mom6_diagnostics_manager
