name: Default Testing

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: write
env:
  CESMROOT: ${{ github.workspace }}/CESM/ # See the checkout step below for the path
  CIME_MACHINE: ubuntu-latest
  DIN_LOC_ROOT: ${{ github.workspace }}
  CIME_OUTPUT_ROOT: ${{ github.workspace }}
jobs:
  pytest:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/CROCODILE-CESM/CrocoDash/croco-dash:nightly
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          path: /workspace/CrocoDash

      - name: Run Pytest
        run: |
          source /opt/conda/etc/profile.d/conda.sh
          conda activate CrocoDash
          cd /workspace/CrocoDash
          pytest --ignore=visualCaseGen -m "not workflow"

      - name: Run Workflow Tests
        run: |
          source /opt/conda/etc/profile.d/conda.sh
          conda activate CrocoDash
          cd /workspace/CrocoDash
          pytest -m "workflow" -s --ignore=CrocoDash/visualCaseGen
        shell: bash
      - name: Run Full Workflow Test
        run: |
          source $(conda info --base)/etc/profile.d/conda.sh
          conda activate CrocoDash
          cd CrocoDash
          pytest -m "workflow"  -s --ignore=CrocoDash/visualCaseGen # Only run workflow tests
        shell: bash
