name: Derecho Testing BIG

# on: [push, workflow_dispatch]
on: [workflow_dispatch]

permissions:
  contents: write
env:
  CESMROOT: ${{ github.workspace }}/CESM/ # See the checkout step below for the path
  CIME_MACHINE: ubuntu-latest
  DIN_LOC_ROOT: ${{ github.workspace }}
  CIME_OUTPUT_ROOT: ${{ github.workspace }}
  GLORYS_USERNAME: ${{ secrets.GLORYS_USERNAME }}
  GLORYS_PASSWORD: ${{ secrets.GLORYS_PASSWORD }}

jobs:
  pytest:
    runs-on: gha-runner-crocodash
    steps:
      # Check out the CESM
      - uses: actions/checkout@v4
        with:
          repository: CROCODILE-CESM/CESM
          path: CESM
          ref: workshop_2025
          
      # Run git-fleximod
      - name: checkout CESM
        env:
          GIT_CLONE_PROTECTION_ACTIVE: false
        run: |
          cd $CESMROOT
          ./bin/git-fleximod update

      - uses: actions/checkout@v4
        with:
            submodules: recursive
            path: CrocoDash
      - uses: actions/setup-python@v5
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: CrocoDash
          environment-file: CrocoDash/environment.yml
      - name: Run Full Workflow Test
        run: |
          source $(conda info --base)/etc/profile.d/conda.sh
          conda activate CrocoDash
          cd CrocoDash
          pytest tests/test_workflow2.py -m "workflow"
        shell: bash
