name: Default Testing

on: [push, workflow_dispatch]

permissions:
  contents: write
env:
  CIME_MACHINE: ubuntu-latest
  DIN_LOC_ROOT: ${{ github.workspace }}
  CIME_OUTPUT_ROOT: ${{ github.workspace }}
jobs:
  pytest:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/crocodile-cesm/crocodash:nightly
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          path: CrocoDash
      - name: Copy CrocoDash into container
        run: cp -r $GITHUB_WORKSPACE/CrocoDash $WORKDIR
      - uses: owenthereal/action-upterm@v1
        with:
          upterm_install_dir: $HOME/.local/bin
      - name: Run Pytest
        run: |
          cd $WORKDIR/CrocoDash
          pytest --ignore=CrocoDash/visualCaseGen -m "not workflow"
      - name: Run Workflow Tests
        run: |
          cd $WORKDIR/CrocoDash
          pytest -m "workflow" -s --ignore=CrocoDash/visualCaseGen
        shell: bash
