name: Default Testing

on: [push, workflow_dispatch]

permissions:
  contents: write
env:
  CIME_MACHINE: ubuntu-latest
  DIN_LOC_ROOT: /workspace
  CIME_OUTPUT_ROOT: /workspace
  USER: ${{ github.actor }}
jobs:
  pytest:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/crocodile-cesm/crocodash:nightly
    steps:
      - name: Install GPG (for CodeCoverage)
        run: apt-get update && apt-get install -y gnupg
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          path: CrocoDash
      - name: Check if environment.yml changed
        id: compare
        run: |
          if diff $WORKDIR/CrocoDash/environment.yml $GITHUB_WORKSPACE/CrocoDash/environment.yml; then
            echo "No changes in environment.yml"
            echo "env_changed=false" >> $GITHUB_OUTPUT
          else
            echo "environment.yml changed!"
            echo "env_changed=true" >> $GITHUB_OUTPUT
          fi
      - name: Copy CrocoDash into container
        run: |
              rm -rf $WORKDIR/CrocoDash
              cp -r $GITHUB_WORKSPACE/CrocoDash $WORKDIR/
      - name: Create CrocoDash environment if changed
        if: steps.compare.outputs.env_changed == 'true'
        run: |
          echo "Environment changed! Rebuilding CrocoDash conda environment..."
          conda env remove -n CrocoDash --yes
          conda env create -f $WORKDIR/CrocoDash/environment.yml
      - name: Run Pytest
        run: |
          cd $WORKDIR/CrocoDash
          pytest --ignore=CrocoDash/visualCaseGen -m "not workflow" -vv --capture=no --showlocals --tb=short --cov=CrocoDash --cov-report=xml --cov-branch
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
         token: ${{ secrets.CODECOV_TOKEN }}
         slug: CROCODILE-CESM/CrocoDash
      - name: Run Workflow Tests
        run: |
          cd $WORKDIR/CrocoDash
          pytest -m "workflow" -s --ignore=CrocoDash/visualCaseGen
        shell: bash
