name: Workflow testing on Derecho via CIRRUS

on: [push, workflow_dispatch]

permissions:
  contents: write
env:
  CIME_MACHINE: ubuntu-latest
  DIN_LOC_ROOT: /workspace
  CIME_OUTPUT_ROOT: /workspace
  SCRATCH: /workspace
  CESMDATAROOT: /glade/campaign/cesm/cesmdata/inputdata
  USER: ${{ github.actor }}
jobs:
  full_workflow:
    runs-on: gha-runner-crocodash
    container:
      image: ghcr.io/crocodile-cesm/crocodash:nightly
    steps:
      - name: Check /glade/campaign access
        run: |
          echo "Listing /glade/campaign:"
          ls -ld /glade/campaign/ || echo "/glade/campaign not accessible"

          echo
          echo "Attempting to read:"
          ls /glade/campaign/cesm/cesmdata/inputdata/ocn/mom/croc/testing_data | head -n 20
          ls /glade/campaign/collections/gdex/data/d651077/cesmdata/inputdata/ocn/mom/croc | head -n 20
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          path: CrocoDash
      - name: Check if environment.yml changed
        id: compare
        run: |
          if diff $WORKDIR/CrocoDash/environment.yml $GITHUB_WORKSPACE/CrocoDash/environment.yml; then
            echo "No changes in environment.yml"
            echo "env_changed=false" >> $GITHUB_OUTPUT
          else
            echo "environment.yml changed!"
            echo "env_changed=true" >> $GITHUB_OUTPUT
          fi
      - name: Copy CrocoDash into container
        run: |
              rm -rf $WORKDIR/CrocoDash
              cp -r $GITHUB_WORKSPACE/CrocoDash $WORKDIR/
      - name: Create CrocoDash environment if changed
        if: steps.compare.outputs.env_changed == 'true'
        run: |
          echo "Environment changed! Rebuilding CrocoDash conda environment..."
          conda env remove -n CrocoDash --yes
          conda env create -f $WORKDIR/CrocoDash/environment.yml

      - name: Configure git identity for CI (needed for case build, which does some git operations) and create symlink from ubuntu-latest to derecho inputdata (accessible through CIRRUS)
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Run Workflow test
        run: |
          cd $WORKDIR/CrocoDash
          python tests/test_workflow2.py --case-path $WORKDIR --cesm-root $CESMROOT --machine ubuntu-latest
